body, html {
  height: 100%;
  }
  .bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .gradient-card-header{
    background-color: #82b1ff;

  }

  .bg-info {
    background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
  }

  